In [2]:
# from PIL import Image, ImageSequence

In [3]:
# im = Image.open(r"C:\Users\parth\Downloads\37-059-26943-0000_PARTIAL WELL RECORD.tif")

# for i, page in enumerate(ImageSequence.Iterator(im)):
#     page.save("page%d.png" % i)

In [5]:
# im = Image.open(r"X:\Parth\Celebal\Abhishek Singh\Images\page0.png")

In [1]:
import time
import json
import pandas as pd
from requests import get, post
from IPython.display import display

In [8]:
endpoint = r"https://demoreconizer.cognitiveservices.azure.com/formrecognizer/v2.1/layout/analyze"
apim_key = r"19f1f4c6a6d84fb59a54f96f7b508325"

In [9]:
headers = {
    'Content-Type': 'image/png',
    'Ocp-Apim-Subscription-Key': apim_key,
}

params = {
    'readingOrder': 'natural'
}

In [10]:
path_to_image = r"X:\Parth\Celebal\Abhishek Singh\Images\page0.png"

with open(path_to_image, "rb") as f:
    data_bytes = f.read()

In [11]:
resp = post(url = endpoint, data = data_bytes, headers = headers, params=params)

if resp.status_code == 202:
    get_url = resp.headers["operation-location"]
    resp = get(url = resp.headers["operation-location"], headers = {"Ocp-Apim-Subscription-Key": apim_key})
    resp_json = json.loads(resp.text)

    while resp_json["status"] == "running":
        print('Waiting for result...')
        resp = get(url = get_url, headers = {"Ocp-Apim-Subscription-Key": apim_key})
        resp_json = json.loads(resp.text)
        time.sleep(5)

    if resp_json["status"] == "succeeded":
        with open(r"X:\Parth\Celebal\Abhishek Singh\temp.json", "w") as jfile:
            jfile.writelines(json.dumps(resp_json))

Waiting for result...
Waiting for result...

In [15]:
resp_json = json.load(open(r"X:\Parth\Celebal\Abhishek Singh\temp.json", "r"))

- lines

In [143]:
lines_dict = {}

for lines in resp_json["analyzeResult"]["readResults"][0]["lines"]:
    temp_bb = lines["boundingBox"]
    lines_dict[lines["text"]] = [(temp_bb[0], temp_bb[1]), (temp_bb[4], temp_bb[5])]

In [144]:
lines_dict

{'8000-FM-OOGM0004aU 10/2016': [(68, 20), (423, 43)],
 'Form': [(67, 46), (129, 67)],
 'pennsylvania': [(154, 78), (368, 109)],
 'DEPARTMENT OF ENVIRONMENTAL': [(156, 110), (410, 130)],
 'PROTECTION': [(156, 129), (254, 146)],
 'COMMONWEALTH OF PENNSYLVANIA': [(648, 100), (1067, 122)],
 'DEPARTMENT OF ENVIRONMENTAL PROTECTION': [(585, 123), (1129, 147)],
 'OFFICE OF OIL AND GAS MANAGEMENT': [(637, 150), (1077, 173)],
 'DEP USE ONLY': [(1314, 104), (1482, 125)],
 'Site ID': [(1247, 132), (1298, 148)],
 'Primary Facility Id': [(1202, 188), (1341, 207)],
 'Well Operator': [(73, 323), (195, 346)],
 'Rice Drilling B LLC': [(73, 355), (265, 378)],
 'Address': [(70, 384), (145, 405)],
 '2200 Rice Drive': [(71, 411), (234, 434)],
 'City': [(71, 445), (105, 465)],
 'Canonsburg': [(71, 467), (194, 491)],
 'Phone': [(72, 499), (129, 517)],
 'Well Record': [(740, 196), (969, 232)],
 '(Unconventional Operators Only)': [(590, 238), (1118, 278)],
 'NAD 83': [(1090, 407), (1160, 424)],
 'Email': [(451, 500), (500, 519)],
 'WELL INFORMATION': [(708, 293), (996, 321)],
 'DEP ID#': [(639, 327), (718, 346)],
 'US Well No. (API No.)': [(852, 327), (1047, 350)],
 '268470': [(639, 359), (717, 379)],
 '37-059-26943-00-01': [(832, 353), (1065, 379)],
 'Latitude (DD)': [(729, 389), (848, 411)],
 '39.903371': [(939, 387), (1045, 409)],
 'Longitude (DD)': [(731, 418), (867, 441)],
 '-80.410926': [(934, 418), (1049, 439)],
 'State': [(588, 445), (636, 465)],
 'Zip': [(661, 444), (691, 468)],
 'Municipality': [(732, 446), (836, 469)],
 'PA': [(594, 468), (630, 489)],
 '15317 Richhill Twp': [(664, 469), (853, 494)],
 'Borrow Pit': [(730, 501), (824, 521)],
 'Farm Name': [(1167, 330), (1272, 349)],
 'Dennis Cholak': [(1168, 361), (1315, 383)],
 'Project Number': [(1164, 388), (1304, 410)],
 'County': [(1167, 448), (1229, 469)],
 'Greene': [(1167, 473), (1244, 493)],
 'Client Id': [(1478, 133), (1541, 149)],
 'Sub Facilily Id': [(1455, 189), (1564, 207)],
 'Well #': [(1430, 330), (1486, 349)],
 '50U': [(1429, 363), (1473, 383)],
 'Serial #': [(1428, 391), (1498, 409)],
 'USGS 7.5 min. quadrangle map': [(1167, 501), (1445, 527)],
 '724-271-7200': [(72, 526), (212, 548)],
 'Lance blanchard @riceenergy.com': [(446, 528), (706, 548)],
 'N/A': [(1334, 1525), (1376, 1546)],
 'Wind Ridge': [(1163, 529), (1270, 554)],
 'Section': [(1535, 505), (1605, 525)],
 'g': [(1576, 534), (1589, 549)],
 'Amended Well Record': [(928, 563), (1156, 586)],
 'Well Type': [(71, 599), (177, 625)],
 '& Gas': [(261, 600), (335, 624)],
 'Well Orientation': [(72, 638), (246, 660)],
 'Vertical X Deviated from Vertical (Top & Side views & Deviation Survey must be attached)': [(289,
   638),
  (1245, 667)],
 'Drill Method(s)': [(70, 675), (229, 701)],
 "Rotary - Air 6513' X Rotary - Mud 9351'": [(321, 676), (792, 703)],
 'Cable Tool': [(820, 678), (966, 702)],
 'Other': [(1056, 678), (1151, 705)],
 'Wellbore Conditioning:': [(1274, 605), (1496, 631)],
 'Check the appropriate Submission:': [(72, 559), (450, 585)],
 '[X] Original Well Record': [(545, 559), (785, 585)],
 'See attached': [(930, 1711), (1066, 1733)],
 'Drilling Started 11/27/2015': [(72, 711), (305, 731)],
 'Surface Elev. 1342 ft.': [(470, 712), (660, 733)],
 'GW Depth 135 ft.': [(868, 713), (1023, 736)],
 'Drilling Complete 3/22/2017': [(67, 742), (313, 766)],
 'True Vertical Depth 7775 ft.': [(470, 744), (715, 767)],
 'Depth of DFGW 135 ft.': [(870, 746), (1071, 767)],
 'Date Well Completed 3/26/2017': [(70, 773), (349, 794)],
 'Total Measured Depth 15864 ft.': [(469, 775), (743, 797)],
 'DFGW decided by: 5': [(869, 776), (1054, 799)],
 'Cement returned on surface casing?': [(70, 850), (433, 875)],
 'CEMENT': [(784, 813), (907, 838)],
 'X Yes No': [(519, 851), (659, 874)],
 'If No, provide depth to top of cement and method used to determine:': [(691,
   891),
  (1283, 915)],
 'Cement returned on coal protective casing? [X] Yes [ No': [(70, 887),
  (658, 912)],
 'Cement returned on intermediate casing?': [(69, 923), (482, 948)],
 'Yes No': [(518, 922), (659, 945)],
 'if No, provide depth to top of cement and method used to determine:': [(691,
   927),
  (1283, 951)],
 'Casing String': [(96, 978), (247, 1005)],
 'Type/Class of Cement': [(295, 969), (533, 994)],
 '(Lead/Tail)': [(367, 995), (458, 1015)],
 'Slurry': [(584, 962), (645, 983)],
 'Temp FÂº': [(573, 984), (655, 1005)],
 'Amount of Cement (sks) (Lead/Tall/Total)': [(683, 981), (1066, 1007)],
 'WOC': [(1121, 1008), (1138, 965)],
 'hrs': [(1143, 999), (1158, 972)],
 'Wt PPG': [(1212, 1018), (1228, 956)],
 'EW PIA': [(1299, 955), (1280, 1017)],
 'isk': [(1299, 1000), (1314, 973)],
 'Conductor': [(67, 1035), (184, 1059)],
 'Ready Mix /': [(309, 1033), (447, 1060)],
 '-': [(927, 1288), (915, 1310)],
 '/ 562': [(890, 1035), (951, 1060)],
 '15': [(1210, 1038), (1237, 1059)],
 '1': [(1290, 1037), (1305, 1059)],
 'Surface': [(67, 1092), (155, 1117)],
 'Class A /': [(324, 1237), (428, 1260)],
 '76 Âª': [(586, 1087), (628, 1105)],
 '/ 488': [(889, 1089), (950, 1113)],
 '8': [(1132, 1193), (1145, 1213)],
 '15.6': [(1199, 1092), (1245, 1113)],
 '1.21': [(1276, 1092), (1318, 1113)],
 'Coal Protective': [(65, 1142), (240, 1166)],
 '89 Âº': [(584, 1139), (629, 1156)],
 '/ 730': [(932, 1138), (990, 1162)],
 '15.8': [(1200, 1192), (1246, 1213)],
 '1.19': [(1275, 1242), (1321, 1261)],
 'Intermediate': [(64, 1192), (208, 1216)],
 '94 Âª': [(586, 1187), (627, 1205)],
 '/ 900': [(929, 1189), (989, 1213)],
 '1.17': [(1275, 1192), (1319, 1212)],
 'Production': [(64, 1242), (188, 1266)],
 '71 Âº': [(584, 1237), (630, 1258)],
 '/ 3005': [(921, 1239), (998, 1263)],
 '14.5': [(1200, 1242), (1245, 1262)],
 'DJ NA': [(1441, 891), (1508, 915)],
 'NA': [(1441, 928), (1507, 950)],
 'Gas Migration': [(1406, 964), (1558, 987)],
 'Controls Used': [(1403, 989), (1559, 1011)],
 'What controls were used if any': [(1336, 1023), (1625, 1042)],
 '(additives/ hardware. Specify type anci': [(1336, 1042), (1623, 1063)],
 'depth applicable)': [(1334, 1061), (1470, 1080)],
 'If additional strings': [(66, 1330), (231, 1351)],
 'attach form(s)': [(63, 1352), (188, 1373)],
 'Total': [(836, 1341), (892, 1365)],
 '5685': [(950, 1343), (1009, 1366)],
 'CASING AND TUBING': [(475, 1386), (768, 1412)],
 'Hole': [(86, 1454), (137, 1475)],
 'Size': [(1205, 1863), (1253, 1885)],
 'Pipe': [(188, 1455), (236, 1478)],
 'Wt.': [(309, 1456), (343, 1477)],
 '#/ft.': [(305, 1481), (345, 1503)],
 'Grade Casing': [(389, 1456), (537, 1480)],
 'Tubing Type New/ Used': [(394, 1480), (660, 1505)],
 'Thread /': [(556, 1431), (649, 1453)],
 'Weld -': [(565, 1457), (640, 1478)],
 'Amount in': [(678, 1458), (789, 1478)],
 'Well (ft.)': [(688, 1482), (781, 1505)],
 'Co': [(809, 1484), (845, 1504)],
 'R': [(868, 1484), (888, 1504)],
 'Hardware - Baskets / Packer / Centralizers': [(950, 1433), (1399, 1457)],
 'Type': [(971, 1483), (1026, 1507)],
 '(Total/String)': [(1103, 1459), (1245, 1485)],
 'Depth': [(811, 1834), (875, 1856)],
 'Date Run': [(1482, 1487), (1582, 1508)],
 '36': [(311, 1671), (337, 1691)],
 '30': [(199, 1520), (224, 1540)],
 '99': [(313, 1521), (337, 1541)],
 'LS': [(447, 1521), (478, 1542)],
 'W- N': [(569, 1522), (632, 1542)],
 '100': [(714, 1524), (752, 1543)],
 '11/27/2015': [(1476, 1525), (1590, 1548)],
 '24': [(97, 1569), (125, 1591)],
 '20': [(310, 1721), (338, 1741)],
 '94': [(314, 1570), (338, 1591)],
 'J-55': [(439, 1671), (483, 1692)],
 'T- N': [(575, 1570), (627, 1594)],
 '261': [(714, 1572), (751, 1594)],
 'US': [(809, 1723), (843, 1743)],
 'Y': [(868, 1722), (886, 1743)],
 '5/4/2016': [(1487, 1574), (1577, 1597)],
 '17.5': [(91, 1619), (134, 1641)],
 '13.375': [(176, 1620), (247, 1641)],
 '54.5': [(302, 1621), (348, 1641)],
 'T-N': [(580, 1721), (620, 1743)],
 '868': [(712, 1622), (751, 1643)],
 '7/8/2016': [(1487, 1624), (1576, 1648)],
 '12.375': [(78, 1670), (147, 1691)],
 '9.625': [(181, 1670), (240, 1690)],
 '2497': [(706, 1673), (758, 1692)],
 '7/11/2016': [(1481, 1675), (1583, 1698)],
 '8.5': [(94, 1719), (129, 1740)],
 '5.5': [(193, 1721), (227, 1740)],
 'P-110': [(429, 1720), (493, 1742)],
 '15825': [(702, 1722), (764, 1744)],
 '3/23/2017': [(1479, 1725), (1582, 1748)],
 'If any casing is welded, provide the name(s) of the welder(s):': [(63, 1760),
  (741, 1789)],
 'PLUG-BACK/WELLBORE ALTERATION': [(578, 1800), (1104, 1828)],
 'Fill Material & Plugs': [(289, 1845), (505, 1872)],
 'Date': [(1021, 1849), (1071, 1871)],
 'Casing & Tubing': [(1300, 1837), (1483, 1862)],
 'From': [(745, 1863), (804, 1883)],
 'To': [(882, 1864), (911, 1883)],
 'Pulled': [(1365, 1865), (1434, 1885)],
 'Left': [(1527, 1866), (1572, 1886)],
 'None': [(355, 1894), (417, 1918)],
 '-1 -': [(808, 2079), (863, 2099)]}

- words

In [115]:
words_dict = {}

for lines in resp_json["analyzeResult"]["readResults"][0]["lines"]:
    for words in lines["words"]:
        temp_bb = words["boundingBox"]
        words_dict[words["text"]] = [(temp_bb[0], temp_bb[1]), (temp_bb[4], temp_bb[5])]

In [116]:
words_dict

{'8000-FM-OOGM0004aU': [(69, 21), (312, 44)],
 '10/2016': [(342, 21), (420, 44)],
 'Form': [(68, 47), (114, 68)],
 'pennsylvania': [(155, 80), (363, 110)],
 'DEPARTMENT': [(585, 124), (735, 147)],
 'OF': [(720, 150), (751, 173)],
 'ENVIRONMENTAL': [(777, 125), (974, 147)],
 'PROTECTION': [(979, 126), (1123, 148)],
 'COMMONWEALTH': [(649, 101), (839, 121)],
 'PENNSYLVANIA': [(887, 100), (1060, 123)],
 'OFFICE': [(637, 150), (714, 173)],
 'OIL': [(757, 150), (795, 173)],
 'AND': [(592, 1387), (648, 1413)],
 'GAS': [(854, 150), (901, 174)],
 'MANAGEMENT': [(909, 150), (1074, 174)],
 'DEP': [(640, 327), (676, 347)],
 'USE': [(1365, 104), (1409, 125)],
 'ONLY': [(1417, 104), (1477, 125)],
 'Site': [(1247, 133), (1274, 149)],
 'ID': [(1277, 133), (1293, 149)],
 'Primary': [(1203, 188), (1261, 207)],
 'Facility': [(1265, 188), (1319, 207)],
 'Id': [(1545, 190), (1561, 207)],
 'Well': [(688, 1482), (732, 1506)],
 'Operator': [(113, 325), (194, 346)],
 'Rice': [(124, 412), (171, 434)],
 'Drilling': [(70, 742), (128, 765)],
 'B': [(196, 356), (209, 379)],
 'LLC': [(217, 356), (255, 379)],
 'Address': [(71, 384), (144, 405)],
 '2200': [(73, 412), (119, 434)],
 'Drive': [(176, 413), (230, 434)],
 'City': [(72, 445), (105, 465)],
 'Canonsburg': [(71, 467), (191, 492)],
 'Phone': [(73, 499), (126, 518)],
 'Record': [(708, 562), (784, 585)],
 '(Unconventional': [(591, 238), (850, 276)],
 'Operators': [(858, 240), (1022, 277)],
 'Only)': [(1030, 241), (1118, 279)],
 'NAD': [(1091, 407), (1126, 425)],
 '83': [(1134, 407), (1156, 425)],
 'Email': [(450, 500), (501, 519)],
 'WELL': [(708, 294), (781, 321)],
 'INFORMATION': [(789, 294), (986, 321)],
 'ID#': [(683, 328), (714, 347)],
 'US': [(809, 1723), (838, 1744)],
 'No.': [(927, 328), (958, 350)],
 '(API': [(962, 329), (1005, 350)],
 'No.)': [(1009, 329), (1046, 351)],
 '268470': [(641, 360), (712, 380)],
 '37-059-26943-00-01': [(834, 353), (1064, 379)],
 'Latitude': [(733, 390), (800, 410)],
 '(DD)': [(820, 419), (865, 442)],
 '39.903371': [(941, 388), (1045, 409)],
 'Longitude': [(733, 420), (815, 441)],
 '-80.410926': [(935, 420), (1043, 440)],
 'State': [(589, 445), (635, 466)],
 'Zip': [(665, 444), (691, 468)],
 'Municipality': [(733, 446), (836, 470)],
 'PA': [(595, 468), (621, 489)],
 '15317': [(665, 469), (722, 491)],
 'Richhill': [(732, 469), (805, 493)],
 'Twp': [(810, 470), (850, 495)],
 'Borrow': [(732, 502), (789, 521)],
 'Pit': [(796, 502), (824, 522)],
 'Farm': [(1168, 330), (1206, 349)],
 'Name': [(1216, 331), (1268, 350)],
 'Dennis': [(1169, 361), (1235, 384)],
 'Cholak': [(1240, 362), (1313, 383)],
 'Project': [(1167, 389), (1226, 410)],
 'Number': [(1230, 390), (1303, 410)],
 'County': [(1168, 448), (1229, 470)],
 'Greene': [(1167, 473), (1237, 494)],
 'Client': [(1479, 134), (1520, 150)],
 'Sub': [(1455, 189), (1484, 207)],
 'Facilily': [(1487, 189), (1541, 208)],
 '#': [(1484, 391), (1494, 409)],
 '50U': [(1430, 363), (1466, 383)],
 'Serial': [(1431, 391), (1480, 409)],
 'USGS': [(1167, 502), (1220, 524)],
 '7.5': [(1225, 502), (1252, 525)],
 'min.': [(1256, 503), (1294, 526)],
 'quadrangle': [(1298, 503), (1397, 527)],
 'map': [(1401, 504), (1442, 528)],
 '724-271-7200': [(73, 527), (210, 549)],
 'Lance': [(448, 529), (493, 546)],
 'blanchard': [(496, 528), (571, 548)],
 '@riceenergy.com': [(574, 529), (700, 548)],
 'N/A': [(1335, 1525), (1371, 1546)],
 'Wind': [(1166, 530), (1209, 553)],
 'Ridge': [(1214, 530), (1268, 554)],
 'Section': [(1538, 505), (1602, 525)],
 'g': [(1576, 533), (1587, 549)],
 'Amended': [(929, 565), (1024, 586)],
 'Type': [(972, 1483), (1024, 1508)],
 '&': [(1380, 1838), (1394, 1861)],
 'Gas': [(1406, 964), (1445, 987)],
 'Orientation': [(119, 639), (240, 661)],
 'Vertical': [(511, 745), (580, 767)],
 'X': [(521, 851), (533, 873)],
 'Deviated': [(452, 639), (542, 664)],
 'from': [(548, 640), (589, 664)],
 '(Top': [(680, 640), (726, 665)],
 'Side': [(753, 641), (796, 666)],
 'views': [(802, 641), (859, 666)],
 'Deviation': [(886, 642), (983, 667)],
 'Survey': [(988, 642), (1057, 667)],
 'must': [(1062, 643), (1110, 667)],
 'be': [(1115, 643), (1141, 668)],
 'attached)': [(1146, 643), (1245, 668)],
 'Drill': [(70, 676), (111, 699)],
 'Method(s)': [(116, 676), (227, 702)],
 'Rotary': [(589, 677), (659, 703)],
 '-': [(848, 2078), (861, 2099)],
 'Air': [(438, 677), (468, 703)],
 "6513'": [(472, 677), (542, 703)],
 'Mud': [(679, 678), (725, 703)],
 "9351'": [(730, 678), (791, 703)],
 'Cable': [(851, 679), (915, 702)],
 'Tool': [(920, 679), (966, 703)],
 'Other': [(1090, 680), (1150, 704)],
 'Wellbore': [(1274, 606), (1360, 630)],
 'Conditioning:': [(1365, 606), (1495, 632)],
 'Check': [(73, 560), (136, 583)],
 'the': [(587, 1762), (624, 1789)],
 'appropriate': [(180, 560), (308, 585)],
 'Submission:': [(313, 560), (450, 583)],
 '[X]': [(515, 887), (546, 912)],
 'Original': [(575, 561), (654, 586)],
 'See': [(931, 1712), (969, 1734)],
 'attached': [(976, 1712), (1061, 1734)],
 'Started': [(133, 712), (197, 732)],
 '11/27/2015': [(1476, 1526), (1586, 1549)],
 'Surface': [(67, 1092), (152, 1117)],
 'Elev.': [(539, 713), (589, 733)],
 '1342': [(593, 713), (634, 734)],
 'ft.': [(725, 776), (743, 798)],
 'GW': [(870, 714), (896, 735)],
 'Depth': [(811, 1835), (872, 1857)],
 '135': [(1015, 747), (1045, 768)],
 'Complete': [(132, 743), (218, 766)],
 '3/22/2017': [(223, 743), (312, 765)],
 'True': [(471, 744), (507, 766)],
 '7775': [(648, 745), (690, 767)],
 'of': [(558, 1762), (582, 1789)],
 'DFGW': [(870, 776), (922, 797)],
 'Date': [(1021, 1849), (1069, 1871)],
 'Completed': [(158, 774), (254, 795)],
 '3/26/2017': [(259, 774), (346, 795)],
 'Total': [(835, 1341), (892, 1365)],
 'Measured': [(515, 776), (605, 797)],
 '15864': [(668, 776), (721, 798)],
 'decided': [(933, 777), (1004, 799)],
 'by:': [(1009, 777), (1036, 799)],
 '5': [(1040, 777), (1051, 799)],
 'Cement': [(797, 983), (881, 1006)],
 'returned': [(150, 923), (235, 945)],
 'on': [(241, 924), (266, 945)],
 'surface': [(272, 851), (346, 875)],
 'casing?': [(401, 924), (481, 949)],
 'CEMENT': [(784, 814), (901, 839)],
 'Yes': [(551, 923), (589, 946)],
 'No': [(626, 924), (656, 945)],
 'If': [(63, 1761), (75, 1787)],
 'No,': [(705, 927), (735, 950)],
 'provide': [(327, 1761), (410, 1788)],
 'depth': [(1336, 1062), (1378, 1079)],
 'to': [(1165, 930), (1181, 950)],
 'top': [(885, 928), (914, 951)],
 'cement': [(941, 928), (1006, 951)],
 'and': [(1011, 929), (1044, 951)],
 'method': [(1048, 929), (1113, 950)],
 'used': [(1515, 1025), (1553, 1042)],
 'determine:': [(1186, 930), (1283, 949)],
 'coal': [(271, 887), (315, 912)],
 'protective': [(320, 887), (415, 912)],
 '[': [(594, 888), (605, 911)],
 'intermediate': [(271, 924), (396, 947)],
 'if': [(1568, 1025), (1583, 1042)],
 'Casing': [(1300, 1838), (1374, 1861)],
 'String': [(176, 979), (242, 1006)],
 'Type/Class': [(297, 970), (412, 994)],
 '(Lead/Tail)': [(367, 996), (457, 1015)],
 'Slurry': [(585, 963), (641, 983)],
 'Temp': [(573, 985), (624, 1006)],
 'FÂº': [(629, 986), (653, 1005)],
 'Amount': [(678, 1458), (761, 1479)],
 '(sks)': [(885, 984), (928, 1007)],
 '(Lead/Tall/Total)': [(932, 984), (1066, 1008)],
 'WOC': [(1121, 1007), (1138, 970)],
 'hrs': [(1143, 999), (1158, 975)],
 'Wt': [(1212, 1018), (1228, 998)],
 'PPG': [(1212, 994), (1229, 960)],
 'EW': [(1299, 956), (1282, 974)],
 'PIA': [(1298, 985), (1281, 1014)],
 'isk': [(1299, 1000), (1314, 978)],
 'Conductor': [(68, 1036), (184, 1059)],
 'Ready': [(310, 1033), (380, 1061)],
 'Mix': [(386, 1033), (427, 1060)],
 '/': [(1253, 1434), (1261, 1457)],
 '562': [(906, 1035), (948, 1060)],
 '15': [(1210, 1037), (1234, 1059)],
 '1': [(1291, 1037), (1304, 1059)],
 'Class': [(325, 1237), (385, 1261)],
 'A': [(390, 1237), (403, 1261)],
 '76': [(586, 1087), (609, 1107)],
 'Âª': [(613, 1185), (626, 1205)],
 '488': [(905, 1089), (949, 1113)],
 '8': [(1132, 1193), (1145, 1213)],
 '15.6': [(1200, 1092), (1241, 1113)],
 '1.21': [(1276, 1091), (1319, 1113)],
 'Coal': [(66, 1143), (117, 1166)],
 'Protective': [(122, 1143), (235, 1167)],
 '89': [(584, 1139), (609, 1157)],
 'Âº': [(615, 1235), (629, 1258)],
 '730': [(945, 1138), (986, 1162)],
 '15.8': [(1200, 1192), (1241, 1213)],
 '1.19': [(1276, 1242), (1316, 1261)],
 'Intermediate': [(66, 1193), (205, 1216)],
 '94': [(313, 1570), (336, 1591)],
 '900': [(944, 1189), (986, 1213)],
 '1.17': [(1276, 1192), (1318, 1212)],
 'Production': [(65, 1243), (183, 1266)],
 '71': [(584, 1236), (611, 1258)],
 '3005': [(937, 1240), (992, 1264)],
 '14.5': [(1200, 1242), (1241, 1262)],
 'DJ': [(1442, 891), (1467, 916)],
 'NA': [(1471, 928), (1503, 950)],
 'Migration': [(1450, 964), (1552, 986)],
 'Controls': [(1404, 990), (1494, 1011)],
 'Used': [(600, 1483), (657, 1504)],
 'What': [(1337, 1023), (1380, 1040)],
 'controls': [(1389, 1024), (1451, 1041)],
 'were': [(1462, 1024), (1501, 1041)],
 'any': [(80, 1761), (121, 1787)],
 '(additives/': [(1337, 1043), (1412, 1060)],
 'hardware.': [(1415, 1043), (1492, 1061)],
 'Specify': [(1495, 1043), (1550, 1062)],
 'type': [(1554, 1044), (1587, 1063)],
 'anci': [(1591, 1044), (1623, 1063)],
 'applicable)': [(1382, 1062), (1467, 1081)],
 'additional': [(78, 1330), (165, 1351)],
 'strings': [(170, 1331), (229, 1351)],
 'attach': [(66, 1353), (115, 1373)],
 'form(s)': [(120, 1353), (188, 1374)],
 '5685': [(951, 1343), (1006, 1366)],
 'CASING': [(475, 1388), (577, 1413)],
 'TUBING': [(661, 1387), (759, 1413)],
 'Hole': [(86, 1454), (135, 1475)],
 'Size': [(1205, 1863), (1250, 1885)],
 'Pipe': [(187, 1455), (236, 1478)],
 'Wt.': [(309, 1455), (343, 1476)],
 '#/ft.': [(305, 1481), (344, 1503)],
 'Grade': [(390, 1457), (451, 1479)],
 'Tubing': [(1404, 1838), (1477, 1863)],
 'New/': [(541, 1483), (596, 1505)],
 'Thread': [(557, 1432), (629, 1454)],
 'Weld': [(565, 1457), (616, 1478)],
 'in': [(765, 1458), (785, 1479)],
 '(ft.)': [(737, 1483), (781, 1506)],
 'Co': [(809, 1484), (836, 1504)],
 'R': [(868, 1484), (881, 1505)],
 'Hardware': [(950, 1434), (1051, 1456)],
 'Baskets': [(1070, 1434), (1156, 1456)],
 'Packer': [(1172, 1434), (1249, 1457)],
 'Centralizers': [(1266, 1434), (1395, 1457)],
 '(Total/String)': [(1103, 1460), (1244, 1486)],
 'Run': [(1534, 1488), (1578, 1509)],
 '36': [(311, 1670), (335, 1690)],
 '30': [(200, 1520), (222, 1541)],
 '99': [(313, 1521), (336, 1541)],
 'LS': [(447, 1521), (472, 1542)],
 'W-': [(570, 1522), (606, 1542)],
 'N': [(605, 1570), (619, 1594)],
 '100': [(714, 1523), (750, 1543)],
 '24': [(97, 1569), (122, 1591)],
 '20': [(311, 1721), (333, 1741)],
 'J-55': [(439, 1670), (482, 1692)],
 'T-': [(575, 1570), (600, 1594)],
 '261': [(714, 1572), (750, 1594)],
 'Y': [(868, 1722), (881, 1743)],
 '5/4/2016': [(1488, 1575), (1573, 1598)],
 '17.5': [(91, 1619), (130, 1641)],
 '13.375': [(177, 1621), (244, 1641)],
 '54.5': [(303, 1620), (345, 1641)],
 'T-N': [(581, 1721), (613, 1743)],
 '868': [(712, 1622), (749, 1643)],
 '7/8/2016': [(1488, 1625), (1574, 1648)],
 '12.375': [(78, 1671), (142, 1691)],
 '9.625': [(181, 1669), (236, 1690)],
 '2497': [(707, 1673), (755, 1692)],
 '7/11/2016': [(1482, 1675), (1579, 1699)],
 '8.5': [(94, 1719), (125, 1740)],
 '5.5': [(194, 1721), (223, 1740)],
 'P-110': [(429, 1721), (487, 1743)],
 '15825': [(702, 1724), (759, 1744)],
 '3/23/2017': [(1481, 1725), (1579, 1748)],
 'casing': [(126, 1761), (202, 1787)],
 'is': [(207, 1761), (227, 1787)],
 'welded,': [(232, 1761), (322, 1787)],
 'name(s)': [(456, 1762), (553, 1788)],
 'welder(s):': [(629, 1762), (741, 1790)],
 'PLUG-BACK/WELLBORE': [(579, 1801), (909, 1828)],
 'ALTERATION': [(920, 1802), (1095, 1829)],
 'Fill': [(289, 1846), (321, 1869)],
 'Material': [(325, 1846), (412, 1871)],
 'Plugs': [(438, 1846), (501, 1873)],
 'From': [(746, 1863), (792, 1884)],
 'To': [(882, 1864), (904, 1883)],
 'Pulled': [(1366, 1865), (1429, 1886)],
 'Left': [(1527, 1866), (1572, 1886)],
 'None': [(354, 1894), (414, 1918)],
 '-1': [(808, 2079), (841, 2100)]}

In [145]:
lines_df = pd.DataFrame(lines_dict.items())

In [118]:
words_df = pd.DataFrame(words_dict.items())

In [122]:
words_df.head()

                    0                         1
0  8000-FM-OOGM0004aU     [(69, 21), (312, 44)]
1             10/2016    [(342, 21), (420, 44)]
2                Form     [(68, 47), (114, 68)]
3        pennsylvania   [(155, 80), (363, 110)]
4          DEPARTMENT  [(585, 124), (735, 147)]

In [123]:
words_df.shape

(313, 2)

In [146]:
lines_df.head()

                             0                         1
0   8000-FM-OOGM0004aU 10/2016     [(68, 20), (423, 43)]
1                         Form     [(67, 46), (129, 67)]
2                 pennsylvania   [(154, 78), (368, 109)]
3  DEPARTMENT OF ENVIRONMENTAL  [(156, 110), (410, 130)]
4                   PROTECTION  [(156, 129), (254, 146)]

In [124]:
words_df[2] = words_df[1].apply(lambda x: ((x[0][0] + x[1][0]) / 2, ((x[0][1] + x[1][1]) / 2)))
words_df.head()

                    0                         1               2
0  8000-FM-OOGM0004aU     [(69, 21), (312, 44)]   (190.5, 32.5)
1             10/2016    [(342, 21), (420, 44)]   (381.0, 32.5)
2                Form     [(68, 47), (114, 68)]    (91.0, 57.5)
3        pennsylvania   [(155, 80), (363, 110)]   (259.0, 95.0)
4          DEPARTMENT  [(585, 124), (735, 147)]  (660.0, 135.5)

In [147]:
lines_df[2] = lines_df[1].apply(lambda x: ((x[0][0] + x[1][0]) / 2, ((x[0][1] + x[1][1]) / 2)))
lines_df.head()

                             0                         1               2
0   8000-FM-OOGM0004aU 10/2016     [(68, 20), (423, 43)]   (245.5, 31.5)
1                         Form     [(67, 46), (129, 67)]    (98.0, 56.5)
2                 pennsylvania   [(154, 78), (368, 109)]   (261.0, 93.5)
3  DEPARTMENT OF ENVIRONMENTAL  [(156, 110), (410, 130)]  (283.0, 120.0)
4                   PROTECTION  [(156, 129), (254, 146)]  (205.0, 137.5)

In [148]:
lines_df.shape

(193, 3)

In [149]:
with open(r"X:\Parth\Celebal\Abhishek Singh\temp.txt", "r") as txt_file:
    stats = json.load(txt_file)

In [150]:
stats

[[0, 71, 1637, 2030, 533012],
 [0, 0, 1700, 2200, 870489],
 [106, 85, 17, 11, 129],
 [1158, 103, 86, 24, 2025],
 [1252, 103, 280, 25, 6695],
 [1540, 104, 84, 24, 1937],
 [105, 117, 3, 3, 9],
 [589, 127, 537, 17, 9129],
 [1157, 133, 232, 51, 11362],
 [1394, 135, 230, 50, 11249],
 [1157, 189, 231, 86, 19700],
 [1394, 191, 230, 85, 19479],
 [77, 292, 739, 29, 18216],
 [833, 295, 29, 26, 463],
 [824, 296, 1, 1, 1],
 [872, 296, 753, 29, 17810],
 [76, 325, 654, 116, 64011],
 [626, 328, 104, 53, 5423],
 [737, 329, 427, 55, 22642],
 [1169, 331, 257, 54, 13407],
 [1432, 332, 193, 113, 20403],
 [737, 388, 345, 25, 8266],
 [1088, 389, 76, 55, 4079],
 [1169, 389, 257, 55, 13751],
 [736, 417, 346, 26, 8264],
 [74, 444, 483, 51, 23351],
 [562, 447, 99, 48, 4651],
 [665, 447, 64, 49, 3036],
 [736, 447, 428, 50, 20523],
 [1169, 449, 455, 51, 22027],
 [74, 499, 655, 52, 31651],
 [736, 503, 426, 49, 20170],
 [1169, 503, 455, 52, 22111],
 [74, 555, 1550, 36, 43596],
 [554, 566, 13, 13, 169],
 [904, 567, 14, 13, 182],
 [910, 587, 8, 1, 8],
 [74, 593, 172, 32, 5504],
 [253, 593, 1017, 38, 32109],
 [1276, 599, 348, 202, 69560],
 [266, 605, 14, 13, 182],
 [73, 631, 173, 33, 5590],
 [252, 631, 1018, 38, 31537],
 [296, 643, 13, 13, 169],
 [430, 645, 14, 12, 168],
 [296, 663, 13, 1, 13],
 [430, 664, 14, 1, 14],
 [73, 669, 393, 67, 15962],
 [252, 669, 1018, 38, 30080],
 [328, 681, 14, 13, 182],
 [568, 683, 14, 13, 182],
 [830, 684, 14, 13, 182],
 [1069, 685, 13, 13, 169],
 [830, 703, 14, 1, 14],
 [472, 709, 394, 28, 10338],
 [873, 711, 396, 28, 10491],
 [73, 740, 393, 28, 10450],
 [472, 741, 394, 28, 10269],
 [873, 743, 396, 28, 10320],
 [73, 772, 393, 24, 9077],
 [472, 773, 394, 24, 8853],
 [872, 775, 397, 25, 9211],
 [73, 805, 1549, 38, 45486],
 [72, 844, 617, 104, 58342],
 [696, 847, 926, 34, 27691],
 [525, 857, 14, 12, 168],
 [604, 857, 13, 13, 169],
 [694, 883, 927, 69, 54005],
 [525, 893, 13, 12, 156],
 [604, 893, 13, 13, 169],
 [1452, 897, 12, 14, 168],
 [524, 928, 14, 13, 182],
 [603, 929, 14, 12, 168],
 [1450, 933, 12, 14, 168],
 [70, 952, 204, 60, 12118],
 [281, 953, 272, 62, 16374],
 [560, 955, 94, 60, 5640],
 [661, 955, 432, 61, 25937],
 [1100, 956, 82, 61, 4877],
 [1189, 957, 44, 60, 2640],
 [1240, 957, 18, 60, 1080],
 [1265, 957, 69, 60, 4140],
 [1341, 957, 280, 62, 16808],
 [69, 1019, 204, 152, 28070],
 [280, 1020, 273, 52, 13756],
 [560, 1021, 94, 51, 4794],
 [661, 1021, 432, 52, 21643],
 [1100, 1024, 82, 51, 4092],
 [1188, 1024, 70, 51, 3561],
 [1264, 1024, 70, 51, 3514],
 [1338, 1025, 283, 354, 98420],
 [280, 1076, 272, 45, 11985],
 [558, 1077, 96, 44, 4154],
 [661, 1077, 432, 47, 19115],
 [1100, 1080, 82, 44, 3608],
 [1188, 1080, 70, 44, 3080],
 [1264, 1080, 69, 45, 3100],
 [280, 1127, 272, 45, 12026],
 [558, 1128, 95, 44, 4180],
 [660, 1128, 433, 96, 38187],
 [1098, 1129, 84, 46, 3732],
 [1188, 1131, 70, 44, 3050],
 [1264, 1131, 69, 44, 3036],
 [69, 1175, 203, 45, 8937],
 [278, 1176, 274, 47, 12063],
 [558, 1177, 95, 46, 4370],
 [1098, 1180, 84, 44, 3665],
 [1186, 1180, 71, 95, 6109],
 [1264, 1180, 69, 45, 3041],
 [69, 1225, 203, 94, 17731],
 [278, 1227, 274, 45, 12012],
 [558, 1228, 95, 44, 4180],
 [660, 1228, 433, 47, 19084],
 [1098, 1229, 83, 46, 3818],
 [1262, 1231, 71, 45, 3142],
 [278, 1276, 272, 44, 11670],
 [557, 1277, 96, 43, 4095],
 [660, 1279, 432, 44, 18248],
 [1098, 1280, 83, 43, 3569],
 [1186, 1280, 71, 44, 3011],
 [1262, 1281, 70, 43, 3010],
 [68, 1325, 204, 47, 9322],
 [277, 1325, 376, 48, 17035],
 [660, 1328, 672, 48, 30762],
 [68, 1383, 1110, 33, 29852],
 [1185, 1387, 69, 30, 1972],
 [1261, 1388, 357, 31, 10444],
 [68, 1419, 90, 84, 7560],
 [165, 1419, 96, 84, 7917],
 [266, 1420, 120, 84, 9773],
 [393, 1420, 141, 84, 11565],
 [541, 1421, 120, 84, 9967],
 [668, 1421, 132, 84, 10862],
 [806, 1423, 44, 82, 3608],
 [857, 1423, 44, 82, 3608],
 [908, 1423, 533, 85, 44141],
 [1448, 1425, 170, 84, 14189],
 [68, 1509, 90, 44, 3960],
 [164, 1509, 97, 44, 4226],
 [266, 1509, 120, 44, 5103],
 [392, 1511, 142, 44, 6180],
 [541, 1511, 120, 44, 5205],
 [668, 1512, 132, 44, 5741],
 [806, 1512, 44, 44, 1936],
 [856, 1512, 45, 44, 1978],
 [906, 1513, 184, 44, 7865],
 [1096, 1513, 169, 95, 14751],
 [1272, 1515, 169, 44, 7368],
 [1446, 1515, 172, 45, 7424],
 [66, 1559, 92, 44, 4048],
 [164, 1559, 96, 44, 4224],
 [266, 1559, 119, 45, 5300],
 [392, 1560, 142, 44, 6248],
 [540, 1560, 121, 45, 5443],
 [668, 1560, 132, 45, 5811],
 [805, 1561, 45, 46, 2067],
 [856, 1561, 45, 46, 2070],
 [906, 1563, 183, 44, 8052],
 [1270, 1564, 170, 45, 7405],
 [1446, 1564, 172, 45, 7593],
 [66, 1608, 92, 45, 4109],
 [164, 1609, 96, 44, 4224],
 [265, 1609, 120, 46, 5296],
 [390, 1609, 144, 96, 12662],
 [540, 1611, 121, 94, 10690],
 [666, 1611, 134, 45, 5905],
 [805, 1612, 45, 44, 1980],
 [856, 1612, 45, 44, 1944],
 [906, 1612, 183, 45, 8112],
 [1094, 1613, 171, 46, 7466],
 [1270, 1613, 170, 46, 7648],
 [1446, 1615, 172, 45, 7630],
 [66, 1659, 92, 45, 4009],
 [164, 1659, 96, 45, 4244],
 [265, 1660, 120, 44, 5280],
 [666, 1661, 134, 44, 5832],
 [805, 1661, 45, 46, 2034],
 [856, 1661, 44, 46, 1950],
 [906, 1663, 183, 44, 8052],
 [1094, 1663, 171, 45, 7531],
 [1270, 1664, 170, 45, 7541],
 [1445, 1665, 172, 44, 7568],
 [65, 1708, 92, 45, 4047],
 [162, 1709, 98, 44, 4220],
 [265, 1709, 268, 46, 11659],
 [538, 1711, 123, 44, 5326],
 [666, 1711, 134, 45, 5840],
 [804, 1712, 45, 44, 1947],
 [854, 1712, 47, 44, 2022],
 [905, 1712, 184, 45, 8041],
 [1094, 1713, 171, 46, 7497],
 [1270, 1715, 170, 44, 7480],
 [1445, 1715, 172, 45, 7553],
 [65, 1760, 1552, 31, 36584],
 [65, 1795, 1552, 38, 43149],
 [65, 1833, 645, 51, 31173],
 [718, 1836, 232, 21, 4677],
 [957, 1836, 180, 49, 8634],
 [1144, 1837, 473, 23, 9497],
 [717, 1863, 119, 21, 2416],
 [842, 1864, 107, 21, 2207],
 [1144, 1865, 169, 22, 3586],
 [1320, 1867, 156, 21, 3116],
 [1482, 1867, 134, 21, 2787],
 [64, 1888, 646, 36, 21209],
 [717, 1891, 119, 33, 3912],
 [841, 1892, 108, 33, 3483],
 [956, 1892, 181, 33, 5913],
 [1144, 1893, 332, 35, 10870],
 [1481, 1895, 135, 33, 4454],
 [64, 1927, 646, 72, 41135],
 [717, 1929, 119, 34, 4046],
 [841, 1931, 108, 32, 3456],
 [956, 1931, 181, 70, 11615],
 [1144, 1932, 169, 33, 5427],
 [1320, 1932, 156, 33, 5047],
 [1481, 1933, 135, 34, 4430],
 [717, 1968, 119, 32, 3690],
 [841, 1968, 108, 32, 3402],
 [1144, 1969, 169, 32, 5148],
 [1318, 1971, 158, 68, 9751],
 [1481, 1971, 135, 32, 4186],
 [64, 2003, 646, 33, 19765],
 [717, 2005, 117, 31, 3627],
 [841, 2005, 108, 31, 3348],
 [956, 2005, 180, 32, 5496],
 [1144, 2007, 169, 32, 5160],
 [1481, 2008, 135, 32, 4294]]

In [65]:
for ele in stats:
    print(ele)
    break

[0, 21, 1636, 2079, 964307]

In [151]:
def mapping(x):
    flag = False
    for bb in stats[2:]:
        if (((x[2][0] >= bb[0]) and (x[2][0] <= (bb[0] + bb[2]))) and \
            (x[2][1] >= bb[1] and (x[2][1] <= (bb[1] + bb[3])))):
            flag = True
            break

    if flag == True:
        return True
    else:
        return False

In [152]:
final_df = pd.DataFrame([])

In [127]:
final_df["Table_Bool"] = words_df.apply(lambda x: mapping(x), axis=1)

In [130]:
words_df[final_df["Table_Bool"]]
#.to_csv(r"X:\Parth\Celebal\Abhishek Singh\temp2.csv")

          0                             1                 2
12      AND    [(592, 1387), (648, 1413)]   (620.0, 1400.0)
15      DEP      [(640, 327), (676, 347)]    (658.0, 337.0)
16      USE    [(1365, 104), (1409, 125)]   (1387.0, 114.5)
17     ONLY    [(1417, 104), (1477, 125)]   (1447.0, 114.5)
18     Site    [(1247, 133), (1274, 149)]   (1260.5, 141.0)
..      ...                           ...               ...
307    From    [(746, 1863), (792, 1884)]   (769.0, 1873.5)
308      To    [(882, 1864), (904, 1883)]   (893.0, 1873.5)
309  Pulled  [(1366, 1865), (1429, 1886)]  (1397.5, 1875.5)
310    Left  [(1527, 1866), (1572, 1886)]  (1549.5, 1876.0)
311    None    [(354, 1894), (414, 1918)]   (384.0, 1906.0)

[291 rows x 3 columns]

In [153]:
final_df["Table_Bool"] = lines_df.apply(lambda x: mapping(x), axis=1)

In [156]:
lines_df[final_df["Table_Bool"]]
#.to_csv(r"X:\Parth\Celebal\Abhishek Singh\temp1.csv")

,0,1,2
6,DEPARTMENT OF ENVIRONMENTAL PROTECTION,"[(585, 123), (1129, 147)]","(857.0, 135.0)"
8,DEP USE ONLY,"[(1314, 104), (1482, 125)]","(1398.0, 114.5)"
9,Site ID,"[(1247, 132), (1298, 148)]","(1272.5, 140.0)"
10,Primary Facility Id,"[(1202, 188), (1341, 207)]","(1271.5, 197.5)"
11,Well Operator,"[(73, 323), (195, 346)]","(134.0, 334.5)"
...,...,...,...
187,From,"[(745, 1863), (804, 1883)]","(774.5, 1873.0)"
188,To,"[(882, 1864), (911, 1883)]","(896.5, 1873.5)"
189,Pulled,"[(1365, 1865), (1434, 1885)]","(1399.5, 1875.0)"
190,Left,"[(1527, 1866), (1572, 1886)]","(1549.5, 1876.0)"
191,None,"[(355, 1894), (417, 1918)]","(386.0, 1906.0)"

In [44]:
bb_df = pd.read_csv(r"X:\Parth\Celebal\Abhishek Singh\temp.csv")

In [45]:
bb_df.head()

   Unnamed: 0    0   1     2     3       4
0           0    0  21  1636  2079  964307
1           1    0   0  1700  2200  834119
2           2  174  29     4     5      19
3           3  192  29     4     5      20
4           4  209  31     1     1       1